#For loops

In [1]:
distances_km_list = [20, 5, 10]

In [2]:
print(distances_km_list)

[20, 5, 10]

In [3]:
distances_km_list[0] * 1000

20000

In [4]:
distances_km_list[1] * 1000

5000

In [5]:
for distance in distances_km_list:
    print(distance)

20
5
10

In [7]:
for bananas in distances_km_list:
    print(bananas)

20
5
10

In [8]:
distance = 999
for distance in [60, 10, 5]:
    print(distance)

print(distance)

60
10
5
5

In [9]:
for distance_km in distances_km_list:
    print(distance_km)
    distance_m = distance_km * 1000
    print(distance_m)

20
20000
5
5000
10
10000

In [10]:
print(distance_m)

10000

In [11]:
total_distance = 0
distances_km_list = [60,5,10,13,14.5]

for distance_km in distances_km_list:
    total_distance = total_distance + distance_km

print(total_distance)

102.5

In [13]:
# Storing loop results in list
distances_km_list = [60,5,10,13,14.5]
distances_m_list = []

for distance_km in distances_km_list:
    print("Distance in Km is", distance_km)
    distance_m = distance_km * 1000
    print("Distance in M is", distance_m)
    distances_m_list.append(distance_m)

print(distances_m_list)

Distance in Km is  60
Distance in M is  60000
Distance in Km is  5
Distance in M is  5000
Distance in Km is  10
Distance in M is  10000
Distance in Km is  13
Distance in M is  13000
Distance in Km is  14.5
Distance in M is  14500.0
[60000, 5000, 10000, 13000, 14500.0]

In [14]:
# Storing loop results in list

distances_m_list = []

for distance_km in distances_km_list:
    distances_m_list.append(distance_km * 1000)
    print(distances_m_list)

[60000]
[60000, 5000]
[60000, 5000, 10000]
[60000, 5000, 10000, 13000]
[60000, 5000, 10000, 13000, 14500.0]

In [16]:
# Exercise
colour_list = ["red","green","blue"]
# remember you can slice strings with []
# remember you can append strings with +
# produce the string "rgb" from the colours list 
# using a for loop
colour_string = ""
for colour in colour_list:
    first_letter = colour[0]
    print(first_letter)
    colour_string = colour_string + first_letter
    print(colour_string)

print(colour_string)

target = "rgb"

r
r
g
rg
b
rgb
rgb

In [19]:
#help(str)
#help(list)

In [20]:
# loop through strings
my_name = "Julian Evans"
for letter in my_name:
    print(letter)

J
u
l
i
a
n

E
v
a
n
s

In [21]:
my_huge_number = 953252543242
for number in my_huge_number:
    print(number)

# Throws an error

TypeError: 'int' object is not iterable

In [24]:
my_huge_number = str(953252543242)
for number_str in my_huge_number:
    number_int = int(number_str)
    print(type(number_str))
    print(type(number_int))

<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>
<class 'str'>
<class 'int'>

In [25]:
my_range = range(0,50)

In [26]:
print(my_range)

range(0, 50)

In [30]:
my_range[0]

0

In [31]:
for number in my_range:
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [32]:
my_range = range(0,51)

In [33]:
my_range[-1]

50

In [36]:
distances_km_list = [50,123,435,7131,13421,58,15.5]
list_length = len(distances_km_list)
print(list_length)
for index, distance_km in enumerate(distances_km_list):
    print(index,distance_km,index/list_length)

7
0 50 0.0
1 123 0.14285714285714285
2 435 0.2857142857142857
3 7131 0.42857142857142855
4 13421 0.5714285714285714
5 58 0.7142857142857143
6 15.5 0.8571428571428571

In [39]:
distances_km_list = [100,25.5,0.2,42,81]

# Using a for loop calculate the cumulative sum in meters
total_dist_m = 0
for distance_km in distances_km_list:
    distance_m = distance_km * 1000
    total_dist_m = total_dist_m + distance_m
    print("Distance in km is", distance_km)
    print("Distance in m is", distance_m)

print("Total distance in m is", total_dist_m)
    
# Use this and the len() function to calculate
distance_list_length = len(distances_km_list)
print("Number of distances in",distance_list_length)
# mean distance in meters
mean_dist_m = total_dist_m/distance_list_length

print("Average distance in m is", mean_dist_m)

Distance in km is 100
Distance in m is 100000
Distance in km is 25.5
Distance in m is 25500.0
Distance in km is 0.2
Distance in m is 200.0
Distance in km is 42
Distance in m is 42000
Distance in km is 81
Distance in m is 81000
Total distance in m is 248700.0
Number of distances in 5
Average distance in m is 49740.0

# Loading pandas data with loops