In [1]:
3 + 5

8

# Variables

In [2]:
my_age = 35

In [3]:
print(my_age)

35

In [4]:
print(My_age)

NameError: name 'My_age' is not defined

In [5]:
my age = 35

SyntaxError: invalid syntax (1640264728.py, line 1)

In [6]:
2my = 35

SyntaxError: invalid decimal literal (3663595944.py, line 1)

In [7]:
first_name = 'ruben'

In [8]:
print(first_name)

ruben

In [9]:
first_name = "ruben"
print(first_name)

ruben

In [10]:
something = "rubens' house"
print(something)

rubens' house

In [11]:
type("ruben")

str

In [12]:
print(type("ruben"))

<class 'str'>

In [13]:
first_name

'ruben'

In [14]:
print("my name is:", first_name)

my name is: ruben

In [15]:
my_age

35

In [16]:
print("my name is", first_name, "and i am", my_age)

my name is ruben and i am 35

In [17]:
print("in three years i will be", my_age+3)

in three years i will be 38

In [20]:
# add 3 to my age
my_age_plus3 = my_age + 3 # can also be done here
print(my_age)
print(my_age_plus3)

35
38

In [21]:
# i am here

In [22]:
# press enter to enter cell

## strings

# Strings

In [24]:
atom_name = 'helium'

In [25]:
print(atom_name[0])

h

In [28]:
print(atom_name[0:4])

heli

In [29]:
atom_name[-1]

'm'

In [30]:
len(atom_name)

6

In [34]:
atom_name[-3:-1]

'iu'

In [37]:
atom_name[[1,4]]

TypeError: string indices must be integers, not 'list'

In [38]:
x = 1.0
y = 3.0
swap = x
x = y
y = swap

# x = ?
# y = ?
# swap = ?

print("x = ", x, "y = ", y, "swap =", swap)

x =  3.0 y =  1.0 swap = 1.0

In [39]:
word = 'brain'
# write code that returns "rain"
word[1:]

'rain'

In [43]:
word[1:-1]

'rai'