In [1]:
import pandas as pd

R: library(dplyr)
not install.packages()

In [2]:
data = pd.read_csv("../data/gapminder_gdp_europe.csv", index_col="country")

In [5]:
data.head(2)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.42230,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700

## Selecting values

- by position
- by location

In [8]:
data.iloc[1,1]  # people_in_the_room[0]

np.float64(8842.59803)

In [10]:
float(data.loc["Albania","gdpPercap_1957"])

1942.284244

In [ ]:
# pandas -> numpy (np)

## Slicing

In [11]:
names = ["Ruben", "Max", "Julian"]

In [12]:
names[0:2]

['Ruben', 'Max']

# Slicing with iloc, loc

## Exercise

column gdpPercap_1972

countries: Italy - Poland

In [13]:
data.loc["Italy","gdpPercap_1972"]

np.float64(12269.27378)

In [17]:
data.loc["Italy":"Poland","gdpPercap_1972":"gdpPercap_1977"]

             gdpPercap_1972  gdpPercap_1977
country
Italy          12269.273780    14255.984750
Montenegro      7778.414017     9595.929905
Netherlands    18794.745670    21209.059200
Norway         18965.055510    23311.349390
Poland          8006.506993     9508.141454

In [16]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [18]:
data.iloc[0:5,0:2]

                        gdpPercap_1952  gdpPercap_1957
country
Albania                    1601.056136     1942.284244
Austria                    6137.076492     8842.598030
Belgium                    8343.105127     9714.960623
Bosnia and Herzegovina      973.533195     1353.989176
Bulgaria                   2444.286648     3008.670727

## Filtering the dataset 

Creating a subset