In [1]:
import pandas as pd

R: library(dplyr)
not install.packages()

In [2]:
data = pd.read_csv("../data/gapminder_gdp_europe.csv", index_col="country")

In [5]:
data.head(2)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.42230,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700

## Selecting values

- by position
- by location

In [8]:
data.iloc[1,1]  # people_in_the_room[0]

np.float64(8842.59803)

In [10]:
float(data.loc["Albania","gdpPercap_1957"])

1942.284244

In [ ]:
# pandas -> numpy (np)

## Slicing

In [11]:
names = ["Ruben", "Max", "Julian"]

In [12]:
names[0:2]

['Ruben', 'Max']

# Slicing with iloc, loc

## Exercise

column gdpPercap_1972

countries: Italy - Poland

In [13]:
data.loc["Italy","gdpPercap_1972"]

np.float64(12269.27378)

In [17]:
data.loc["Italy":"Poland","gdpPercap_1972":"gdpPercap_1977"]

             gdpPercap_1972  gdpPercap_1977
country
Italy          12269.273780    14255.984750
Montenegro      7778.414017     9595.929905
Netherlands    18794.745670    21209.059200
Norway         18965.055510    23311.349390
Poland          8006.506993     9508.141454

In [16]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [18]:
data.iloc[0:5,0:2]

                        gdpPercap_1952  gdpPercap_1957
country
Albania                    1601.056136     1942.284244
Austria                    6137.076492     8842.598030
Belgium                    8343.105127     9714.960623
Bosnia and Herzegovina      973.533195     1353.989176
Bulgaria                   2444.286648     3008.670727

## Filtering the dataset 

Creating a subset

In [19]:
subset = data.loc["Italy":"Poland","gdpPercap_1962":"gdpPercap_1972"]

In [20]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [21]:
# mask: gdp above 10,000
# operators (+ - = < >)
4 > 5

False

In [22]:
4 < 5

True

In [23]:
type(4 < 5)

bool

In [ ]:
# bool -> boolean

In [24]:
subset > 4

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                  True            True            True
Montenegro             True            True            True
Netherlands            True            True            True
Norway                 True            True            True
Poland                 True            True            True

In [25]:
subset > 10000  # mask

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [26]:
mask = subset > 10000

In [27]:
subset2 = subset.copy()

In [28]:
subset2

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [29]:
subset2["new_column"] = "text"

In [30]:
subset2

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972 new_column
country
Italy           8243.582340    10022.401310    12269.273780       text
Montenegro      4649.593785     5907.850937     7778.414017       text
Netherlands    12790.849560    15363.251360    18794.745670       text
Norway         13450.401510    16361.876470    18965.055510       text
Poland          5338.752143     6557.152776     8006.506993       text

In [31]:
subset2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Italy to Poland
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1962  5 non-null      float64
 1   gdpPercap_1967  5 non-null      float64
 2   gdpPercap_1972  5 non-null      float64
 3   new_column      5 non-null      object
dtypes: float64(3), object(1)
memory usage: 200.0+ bytes

In [32]:
subset2 > 4

TypeError: '>' not supported between instances of 'str' and 'int'

In [33]:
mask

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [34]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [35]:
subset[mask]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [36]:
subset[mask].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737548    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513522    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

In [37]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [38]:
subset > 10000

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [39]:
# mask = subset > 10000 
subset[subset > 10000]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

# Exercise

- Load gapminder Asia dataset
- Create subset for the first 5 countries (for the first two years)
- Find the mean for countries with GDP smaller 5000

In [ ]:
data = pd.read_csv("../data/gapminder_gdp_asia.csv", index_col="country")

In [42]:
 data

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Afghanistan,779.445314,820.853030,853.100710,836.197138,739.981106,786.113360,978.011439,852.395945,649.341395,635.341351,726.734055,974.580338
Bahrain,9867.084765,11635.799450,12753.275140,14804.672700,18268.658390,19340.101960,19211.147310,18524.024060,19035.579170,20292.016790,23403.559270,29796.048340
Bangladesh,684.244172,661.637458,686.341554,721.186086,630.233627,659.877232,676.981866,751.979403,837.810164,972.770035,1136.390430,1391.253792
Cambodia,368.469286,434.038336,496.913648,523.432314,421.624026,524.972183,624.475478,683.895573,682.303175,734.285170,896.226015,1713.778686
China,400.448611,575.987001,487.674018,612.705693,676.900092,741.237470,962.421381,1378.904018,1655.784158,2289.234136,3119.280896,4959.114854
Hong Kong China,3054.421209,3629.076457,4692.648272,6197.962814,8315.928145,11186.141250,14560.530510,20038.472690,24757.603010,28377.632190,30209.015160,39724.978670
India,546.565749,590.061996,658.347151,700.770611,724.032527,813.337323,855.723538,976.512676,1164.406809,1458.817442,1746.769454,2452.210407
Indonesia,749.681655,858.900271,849.289770,762.431772,1111.107907,1382.702056,1516.872988,1748.356961,2383.140898,3119.335603,2873.912870,3540.651564
Iran,3035.326002,3290.257643,4187.329802,5906.731805,9613.818607,11888.595080,7608.334602,6642.881371,7235.653188,8263.590301,9240.761975,11605.714490
Iraq,4129.766056,6229.333562,8341.737815,8931.459811,9576.037596,14688.235070,14517.907110,11643.572680,3745.640687,3076.239795,4390.717312,4471.061906
Israel,4086.522128,5385.278451,7105.630706,8393.741404,12786.932230,13306.619210,15367.029200,17122.479860,18051.522540,20896.609240,21905.595140,25523.277100
Japan,3216.956347,4317.694365,6576.649461,9847.788607,14778.786360,16610.377010,19384.105710,22375.941890,26824.895110,28816.584990,28604.591900,31656.068060
Jordan,1546.907807,1886.080591,2348.009158,2741.796252,2110.856309,2852.351568,4161.415959,4448.679912,3431.593647,3645.379572,3844.917194,4519.461171
Korea Dem. Rep.,1088.277758,1571.134655,1621.693598,2143.540609,3701.621503,4106.301249,4106.525293,4106.492315,3726.063507,1690.756814,1646.758151,1593.065480
Korea Rep.,1030.592226,1487.593537,1536.344387,2029.228142,3030.876650,4657.221020,5622.942464,8533.088805,12104.278720,15993.527960,19233.988180,23348.139730
Kuwait,108382.352900,113523.132900,95458.111760,80894.883260,109347.867000,59265.477140,31354.035730,28118.429980,34932.919590,40300.619960,35110.105660,47306.989780
Lebanon,4834.804067,6089.786934,5714.560611,6006.983042,7486.384341,8659.696836,7640.519521,5377.091329,6890.806854,8754.963850,9313.938830,10461.058680
Malaysia,1831.132894,1810.066992,2036.884944,2277.742396,2849.094780,3827.921571,4920.355951,5249.802653,7277.912802,10132.909640,10206.977940,12451.655800
Mongolia,786.566857,912.662609,1056.353958,1226.041130,1421.741975,1647.511665,2000.603139,2338.008304,1785.402016,1902.252100,2140.739323,3095.772271
Myanmar,331.000000,350.000000,388.000000,349.000000,357.000000,371.000000,424.000000,385.000000,347.000000,415.000000,611.000000,944.000000
Nepal,545.865723,597.936356,652.396859,676.442225,674.788130,694.112440,718.373095,775.632450,897.740360,1010.892138,1057.206311,1091.359778
Oman,1828.230307,2242.746551,2924.638113,4720.942687,10618.038550,11848.343920,12954.791010,18115.223130,18616.706910,19702.055810,19774.836870,22316.192870
Pakistan,684.597144,747.083529,803.342742,942.408259,1049.938981,1175.921193,1443.429832,1704.686583,1971.829464,2049.350521,2092.712441,2605.947580
Philippines,1272.880995,1547.944844,1649.552153,1814.127430,1989.374070,2373.204287,2603.273765,2189.634995,2279.324017,2536.534925,2650.921068,3190.481016
Saudi Arabia,6459.554823,8157.591248,11626.419750,16903.048860,24837.428650,34167.762600,33693.175250,21198.261360,24841.617770,20586.690190,19014.541180,21654.831940
Singapore,2315.138227,2843.104409,3674.735572,4977.418540,8597.756202,11210.089480,15169.161120,18861.530810,24769.891200,33519.476600,36023.105400,47143.179640
Sri Lanka,1083.532030,1072.546602,1074.471960,1135.514326,1213.395530,1348.775651,1648.079789,1876.766827,2153.739222,2664.477257,3015.378833,3970.095407
Syria,1643.485354,2117.234893,2193.037133,1881.923632,2571.423014,3195.484582,3761.837715,3116.774285,3340.542768,4014.238972,4090.925331,4184.548089
Taiwan,1206.947913,1507.861290,1822.879028,2643.858681,4062.523897,5596.519826,7426.354774,11054.561750,15215.657900,20206.820980,23235.423290,28718.276840
Thailand,757.797418,793.577415,1002.199172,1295.460660,1524.358936,1961.224635,2393.219781,2982.653773,4616.896545,5852.625497,5913.187529,7458.396327
Vietnam,605.066492,676.285448,772.049160,637.123289,699.501644,713.537120,707.235786,820.799445,989.023149,1385.896769,1764.456677,2441.576404
West Bank and Gaza,1515.592329,1827.067742,2198.956312,2649.715007,3133.409277,3682.831494,4336.032082,5107.197384,6017.654756,7110.667619,4515.487575,3025.349798
Yemen Rep.,781.717576,804.830455,825.623201,862.442146,1265.047031,1829.765177,1977.557010,1971.741538,1879.496673,2117.484526,2234.820827,2280.769906

In [ ]:
index_col="country")