In [1]:
import pandas as pd

R: library(dplyr)
not install.packages()

In [2]:
data = pd.read_csv("../data/gapminder_gdp_europe.csv", index_col="country")

In [5]:
data.head(2)

,gdpPercap_1952,gdpPercap_1957,gdpPercap_1962,gdpPercap_1967,gdpPercap_1972,gdpPercap_1977,gdpPercap_1982,gdpPercap_1987,gdpPercap_1992,gdpPercap_1997,gdpPercap_2002,gdpPercap_2007
country,,,,,,,,,,,,
Albania,1601.056136,1942.284244,2312.888958,2760.196931,3313.422188,3533.00391,3630.880722,3738.932735,2497.437901,3193.054604,4604.211737,5937.029526
Austria,6137.076492,8842.598030,10750.721110,12834.602400,16661.625600,19749.42230,21597.083620,23687.826070,27042.018680,29095.920660,32417.607690,36126.492700

## Selecting values

- by position
- by location

In [8]:
data.iloc[1,1]  # people_in_the_room[0]

np.float64(8842.59803)

In [10]:
float(data.loc["Albania","gdpPercap_1957"])

1942.284244

In [ ]:
# pandas -> numpy (np)

## Slicing

In [11]:
names = ["Ruben", "Max", "Julian"]

In [12]:
names[0:2]

['Ruben', 'Max']

# Slicing with iloc, loc

## Exercise

column gdpPercap_1972

countries: Italy - Poland

In [13]:
data.loc["Italy","gdpPercap_1972"]

np.float64(12269.27378)

In [17]:
data.loc["Italy":"Poland","gdpPercap_1972":"gdpPercap_1977"]

             gdpPercap_1972  gdpPercap_1977
country
Italy          12269.273780    14255.984750
Montenegro      7778.414017     9595.929905
Netherlands    18794.745670    21209.059200
Norway         18965.055510    23311.349390
Poland          8006.506993     9508.141454

In [16]:
data.columns

Index(['gdpPercap_1952', 'gdpPercap_1957', 'gdpPercap_1962', 'gdpPercap_1967',
       'gdpPercap_1972', 'gdpPercap_1977', 'gdpPercap_1982', 'gdpPercap_1987',
       'gdpPercap_1992', 'gdpPercap_1997', 'gdpPercap_2002', 'gdpPercap_2007'],
      dtype='object')

In [18]:
data.iloc[0:5,0:2]

                        gdpPercap_1952  gdpPercap_1957
country
Albania                    1601.056136     1942.284244
Austria                    6137.076492     8842.598030
Belgium                    8343.105127     9714.960623
Bosnia and Herzegovina      973.533195     1353.989176
Bulgaria                   2444.286648     3008.670727

## Filtering the dataset 

Creating a subset

In [19]:
subset = data.loc["Italy":"Poland","gdpPercap_1962":"gdpPercap_1972"]

In [20]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [21]:
# mask: gdp above 10,000
# operators (+ - = < >)
4 > 5

False

In [22]:
4 < 5

True

In [23]:
type(4 < 5)

bool

In [ ]:
# bool -> boolean

In [24]:
subset > 4

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                  True            True            True
Montenegro             True            True            True
Netherlands            True            True            True
Norway                 True            True            True
Poland                 True            True            True

In [25]:
subset > 10000  # mask

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [26]:
mask = subset > 10000

In [27]:
subset2 = subset.copy()

In [28]:
subset2

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [29]:
subset2["new_column"] = "text"

In [30]:
subset2

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972 new_column
country
Italy           8243.582340    10022.401310    12269.273780       text
Montenegro      4649.593785     5907.850937     7778.414017       text
Netherlands    12790.849560    15363.251360    18794.745670       text
Norway         13450.401510    16361.876470    18965.055510       text
Poland          5338.752143     6557.152776     8006.506993       text

In [31]:
subset2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, Italy to Poland
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   gdpPercap_1962  5 non-null      float64
 1   gdpPercap_1967  5 non-null      float64
 2   gdpPercap_1972  5 non-null      float64
 3   new_column      5 non-null      object
dtypes: float64(3), object(1)
memory usage: 200.0+ bytes

In [32]:
subset2 > 4

TypeError: '>' not supported between instances of 'str' and 'int'

In [33]:
mask

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [34]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [35]:
subset[mask]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

In [36]:
subset[mask].describe()

       gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
count        2.000000        3.000000        3.000000
mean     13120.625535    13915.843047    16676.358320
std        466.373656     3408.589070     3817.597015
min      12790.849560    10022.401310    12269.273780
25%      12955.737548    12692.826335    15532.009725
50%      13120.625535    15363.251360    18794.745670
75%      13285.513522    15862.563915    18879.900590
max      13450.401510    16361.876470    18965.055510

In [37]:
subset

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy           8243.582340    10022.401310    12269.273780
Montenegro      4649.593785     5907.850937     7778.414017
Netherlands    12790.849560    15363.251360    18794.745670
Norway         13450.401510    16361.876470    18965.055510
Poland          5338.752143     6557.152776     8006.506993

In [38]:
subset > 10000

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                 False            True            True
Montenegro            False           False           False
Netherlands            True            True            True
Norway                 True            True            True
Poland                False           False           False

In [39]:
# mask = subset > 10000 
subset[subset > 10000]

             gdpPercap_1962  gdpPercap_1967  gdpPercap_1972
country
Italy                   NaN     10022.40131     12269.27378
Montenegro              NaN             NaN             NaN
Netherlands     12790.84956     15363.25136     18794.74567
Norway          13450.40151     16361.87647     18965.05551
Poland                  NaN             NaN             NaN

# Exercise

- Load gapminder Asia dataset
- Create subset for the first 5 countries (for the first two years)
- Find the mean for countries with